@charset "utf-8";

//Font imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Recursive:wght@300&display=swap');

$family-sans-serif: "Recursive", sans-serif;
$dark-blue: #34495E;
$blue: #3498DB;
$grey: #ECF0F1;
$yellow: #F1C40F;


//TODO figure out what we don't need
@import "node_modules/bulma/bulma.sass";